*{
    margin: 0;
    padding: 0;
}
body{
    background: #f2994a;
}
#div1{
    margin-top: 10%;
    margin-left: 40%;
    background: #1cb1f5;
    width: 300px;
    border-radius: 10px;
}



label{
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 650;

}
#loginb{
    text-align: center;
    width: 125px;
    padding: 7px;
    font-size: 14px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    outline: 0;
    margin-top: 20px;
    margin-left: 20px;


}
#signupb{
    text-align: center;
    width: 125px;
    padding: 7px;
    font-size: 14px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    outline: 0;

}
#Lemail{
    margin-left: 20px;

}
#Iemail{
    width: 250px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 4.5px;
    margin-bottom: 5px;
    margin-left: 20px;
    
}

#Lpass{
    margin-left: 20px;
}
#Ipassword{
    width: 250px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 4.5px;
    margin-left: 20px;
}
.Sselect{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    text-align: center;
    width: 250px;
    padding: 7px;
    font-size: 15px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    outline: 0;
}
#Bsubmit{
    text-align: center;
    width: 65px;
    padding: 7px;
    font-size: 14px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    outline: 0;
    margin-left: 38%;
    margin-top: 10px;
    margin-bottom: 20px;
}
#Lusername{
    margin-left: 20px;
}
#Iusername{
    width: 250px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 4.5px;
    margin-bottom: 5px;
    margin-left: 20px;

}
#Lcontact{
    margin-left: 20px;
}
#Icontact{
    width: 250px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 4.5px;
    margin-bottom: 5px;
    margin-left: 20px;

}
#Limage{
    margin-left: 20px;
}
#Iimage{
        margin-top: -2px;
        margin-bottom: 2px;
        margin-left: -7px;
        text-align: center;
        width: 200px;
        padding: 7px;
        font-size: 10px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 600;
        border: none;
        border-radius: 10px;
        outline: 0;
        margin-left: 20px;
    
}
#Ipassword{
    margin-bottom: 5px;
}
#Lcpass{
    margin-left: 20px;
    
}

#Icpassword{
    width: 250px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 4.5px;
    margin-bottom: 5px;
    margin-left: 20px;    

}
#Ccheck{
    margin-left: 72px;

}
#Pvalidate{
    margin-left: 0px;
    font-size: 12px;
    font-family: sans-serif;
    font-style: normal;
}
