*{
    margin: 0;
    padding: 0;

}
body{
    background: #33ccff;
}
h1{
    text-align: center;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.register{
    background: #2d85b0;
    width: 500px;
    margin: 0px 0px 0px 28%;
    color: white;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;

}

#register{
    margin-left: 100px;
}
label{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;

}

#jrole{
    width: 315px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}
#jposition{
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}
#jdescription{
    
    border: none;
    width: 300px;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    text-align:inherit;
}

#jeligibility{
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}
#jid{
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}
#jpackage{
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}

        

#jsub{
    text-align: center;
    width: 65px;
    padding: 7px;
    font-size: 14px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    outline: 0;
    margin-left: 30%;
    margin-top: 2%;
}

